<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.carvault">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarVault"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".car.addCar.DocumentationPhotosActivity"
            android:exported="false" />
        <activity
            android:name=".car.editCar.EditCar"
            android:exported="false" />
        <activity
            android:name=".EulaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transaction.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".car.addCar.AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".car.carDetail.CarDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NavDrawer"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.CarVault.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.CarVault.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>